body {
  background-color:#BFBFBF;
}

i {
  color: #EC971F;
}

.navbar-brand {
  position: relative;
  bottom: 8px;
}

.jumbotron {
  margin-top: 1.5rem;
  background-color: #FFFFFF;
}

.jumbotron h1, span {
  color: #EC971F;
}

.row a {
  text-decoration: none;
}

h3, h2 {
  color: #EC971F;
  margin: 1.5rem 0; 
}

h4 {
  color: #F2F2F2;
}

.map {
  margin: 3rem 0;
}

.img-responsive {
  margin: 0 auto;
  border-radius: 0.5rem;
}

table {
  margin-top: 2rem;
  border: 1px solid #F2F2F2;
  font-size: 1.5rem;
}

table thead, tbody, tr, td, th{
  text-align: center;
}

.list-title {
  color: #F2F2F2;
  margin: 5rem;
}

form {
  margin: 5rem 0;
  border: 0.5px solid #EC971F;
  background-color: #FFFFFF;
  padding: 3rem;
  border-radius: 0.5rem;
}

footer {
  background-color: #F2F2F2;
  color: #404040;
  position: fixed;
  padding-top: 0.5rem;
  bottom: 0;
  width: 100%;
  height: 2.5%;
}

input.ng-invalid.ng-pristine {
  border: 1px solid yellow;
}

.ng-invalid .btn {
  background: #F2F2F2;
  color: #EC971F;
}

.ng-valid .submit {
  background: #EC971F;
  color: #F2F2F2;
}

.validationError {
  color: red;
}