<form novalidate class="form-horizontal" name="employeeForm" ng-submit="updateEmployee()">
    <h2>Employee Contact Details</h2>

     <!-- Employee Id -->
    <div class="row form-group">
        <div class="col-md-6">
            <h3>Employee ID: {{ employee.id }}</h3>
        </div>
    </div> 

    <!-- First Name -->
    <div class="row form-group">
        <div class="col-md-2">
            <label  for="inputFirstName">First Name</label>
        </div>
        <div class="col-md-6">
            <input class="form-control" 
                    type="text" 
                    name="inputFirstName" 
                    placeholder="First Name" 
                    ng-model="employee.firstName"
                    ng-required="true"
                    ng-minlength="3"
                    ng-maxlength="15">
        </div>
        <div class="col-md-4">
            <p class="validationError"  
                ng-show="employeeForm.inputFirstName.$invalid && !employeeForm.inputFirstName.$pristine">
                You must enter a your firstName between 3 and 15 characters.
            </p>
        </div>
    </div>

    <!-- lastName -->
    <div class="row form-group">
        <div class="col-md-2">
            <label for="inputLastName">Last Name</label>
        </div>
        <div class="col-md-6">
             <input class="form-control" 
                    type="text" 
                    name="inputLastName" 
                     placeholder="Last Name" 
                    ng-model="employee.lastName"
                    ng-required="true"
                    ng-minlength="3"
                    ng-maxlength="15">
        </div>
        <div class="col-md-4">
            <p class="validationError"  
                ng-show="employeeForm.inputLastName.$invalid && !employeeForm.inputLastName.$pristine">
                    You must enter your last name between 3 and 15 characters.
            </p>
        </div>
    </div>
    
    <!-- Birth Date -->
    <div class="row form-group">
         <div class="col-md-2">
            <label for="inputBirthDate">Birth Date</label>
         </div>
         <div class="col-md-6">
            <input class="form-control" 
                    type="text" 
                    name="inputBirthDate" 
                    placeholder="Birth Date" 
                    ng-model="employee.birthDate"
                    ng-required="true">
        </div>
        <div class="col-md-4">
            <p class="validationError"  
                ng-show="employeeForm.inputBirthDate.$invalid && !employeeForm.inputBirthDate.$pristine">
                You must enter a a birth date.
             </p>
        </div>
    </div>
     
    <!-- Phone Number -->
    <div class="row form-group">
        <div class="col-sm-2">
            <label for="inputPhoneNumber">Phone #</label>
        </div>
       <div class="col-md-6">
            <input class="form-control" 
                    type="tel"
                    name="inputPhoneNumber" 
                    placeholder="Phone Number" 
                    ng-model="employee.phoneNumber"
                    ng-required="true"
                    ng-minlength="10"
                    ng-maxlength="10">
       </div>
       <div class="col-md-4">
            <p class="validationError"  
                ng-show="employeeForm.inputPhoneNumber.$invalid && !employeeForm.inputPhoneNumber.$pristine">
                You must enter a 10 digit phone number.
            </p>
       </div>
    </div>

    <!-- Email -->
    <div class="row form-group">
        <div class="col-md-2">
            <label for="inputEmail">Email</label>
        </div>
        <div class="col-md-6">
            <input class="form-control" 
                    type="email" 
                    name="inputEmail" 
                    placeholder="Email" 
                    ng-model="employee.email"
                    ng-required="true">
        </div>
        <div class="col-md-4">
            <p class="validationError"  
                ng-show="employeeForm.inputEmail.$invalid && !employeeForm.inputEmail.$pristine">
                You must enter a valid email address.
            </p>
        </div>
    </div>

    <!-- Salary -->
    <div class="row form-group">
        <div class="col-md-2">
            <label for="inputSalary">Salary</label>
        </div>
        <div class="col-md-6">
            <input class="form-control" 
                    type="number" 
                    name="inputSalary" 
                    placeholder="Salary"
                    ng-model="employee.salary"
                    ng-required="true"
                    ng-maxlength="4">
        </div>
        <div class="col-md-4">
             <p class="validationError"  
                ng-show="employeeForm.inputSalary.$invalid && !employeeForm.inputSalary.$pristine">
                You must enter a 4 digit salary.
        </p>
        </div>
    </div>

    <!-- Join Date -->
    <div class="row form-group">
        <div class="col-md-2">
            <label for="inputJoinDate">Join Date</label>
        </div>
        <div class="col-md-6">
             <input class="form-control" 
                    type="text" 
                    name="inputJoinDate" 
                    placeholder="Join Date" 
                    ng-model="employee.joinDate"
                    ng-required="true">
        </div>
        <div class="col-md-4">
             <p class="validationError"  
                ng-show="employeeForm.inputJoinDate.$invalid && !employeeForm.inputJoinDate.$pristine">
                You must enter a a join date.
        </p>
        </div>
    </div>

     <!-- Country -->
    <div class="row form-group">
        <div class="col-md-2">
            <label for="inputCountry">Country</label>
        </div>
        <div class="col-md-6">
            <select class="form-control" 
            ng-model="countrySrc"
            ng-options="country for country in countries"
            ng-change="getSelectedCountry()">
                <option 
                    value=""
                    ng-show="employeeForm.inputCountry.$pristine">{{countryPre}}
                </option>
             </select>
        </div>
        <div class="col-md-4">
            <p class="validationError"  
                ng-show="employeeForm.inputCountry.$invalid && !employeeForm.inputCountry.$pristine">
                You must select a country.
            </p>
        </div>
    </div>

    <!-- City -->
    <div class="row form-group">
        <div class="col-md-2">
            <label for="inputCity">City</label>
        </div>
        <div class="col-md-6">
            <select class="form-control" 
                ng-disabled="!countrySrc"
                ng-model="city" 
                ng-options="city for city in cities"
                ng-change="getSelectedCity()">
                <option 
                    value=""
                    ng-show="employeeForm.inputCountry.$pristine">{{cityPre}}
                </option>
             </select>
        </div>
       <div class="col-md-4">
            <p class="validationError"  
                ng-show="employeeForm.inputCity.$invalid && !employeeForm.inputCity.$pristine">
                You must select a city.
            </p>
       </div>
    </div>

    <!-- Street -->
    <div class="row form-group">
        <div class="col-md-2">
             <label for="inputStreet">Street</label>
        </div>
        <div class="col-md-6">
            <input class="form-control" 
                     type="text" 
                    name="inputStreet" 
                    placeholder="Street" 
                    ng-model="employee.address.street"
                    ng-required="true"
                    ng-minlength="5"
                    ng-maxlength="35">
       </div>
       <div class="col-md-4">
            <p class="validationError"  
                ng-show="employeeForm.inputStreet.$invalid && !employeeForm.inputStreet.$pristine">
                You must enter a street between 5 and 35 characters.
            </p>
       </div>
    </div>

    <!-- Street Number -->
    <div class="row form-group">
        <div class="col-md-2">
            <label for="inputStreetNumber">Street #</label>
        </div>
        <div class="col-md-6">
            <input class="form-control" 
                    type="number" 
                    name="inputStreetNumber" 
                    placeholder="Street Number" 
                    ng-model="employee.address.streetNumber"
                    ng-required="true"
                    ng-maxlength="3">
        </div>
        <div class="col-md-4">
             <p class="validationError"  
                ng-show="employeeForm.inputStreetNumber.$invalid && !employeeForm.inputStreetNumber.$pristine">
                You must enter a 3 digit street number.
            </p>
        </div>
    </div> 
    
    <!-- Zip Code -->
    <div class="row form-group">
        <div class="col-md-2">
            <label for="inputZipCode">Zip Code</label>
        </div>
        <div class="col-md-6">
            <input class="form-control" 
                    type="text" 
                    name="inputZipCode" 
                    placeholder="Zip Code" 
                    ng-model="employee.address.zipCode"
                    ng-minlength="6"
                    ng-maxlength="6">
        </div>
        <div class="col-md-4">
             <p class="validationError"  
                ng-show="employeeForm.inputZipCode.$invalid && !employeeForm.inputZipCode.$pristine">
                You must enter a 6 digit number.
            </p>
        </div>
    </div> 

    <!-- Department -->
    <div class="row form-group">
        <div class="col-md-2">
            <label for="inputDepartment">Department</label>
        </div>
        <div class="col-md-6">
            <select class="form-control" 
                ng-model="departmentSrc" 
                ng-options="department.name for department in departments"
                ng-required="true"
                ng-change="getSelectedDepartment()">
                <option 
                    value=""
                    ng-show="employeeForm.inputCountry.$pristine">{{departmentPre}}
                </option>
            </select>
        </div>
       <div class="col-md-4">
            <p class="validationError"  
                ng-show="employeeForm.inputDepartment.$invalid && !employeeForm.inputDepartment.$pristine">
                You must enter a the department.
            </p>
       </div>
    </div>   
   
    <button ng-disabled="employeeForm.$invalid || employeeForm.$pristine" type="submit" class="btn btn-default submit">update</button>
  
    <a class="btn btn-default" ng-click="deleteEmployee(employee.id)"  role="button"><i class="far fa-trash-alt"></i></a>

    <a class="btn btn-default" href="#show_employees" role="button"><i class="fas fa-undo"></i></a>

</form>